@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@utility animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@utility animate-slide-in {
    animation: slideIn 0.5s ease-out;
}

@utility animate-bounce-slow {
    animation: bounce 2s infinite;
}

/* Основні стилі для теми */
html {
    transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}